* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #e1e6ec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.music-player {
  position: relative;
  width: 380px;
  padding: 25px 30px;
  background-color: #e1e6ec;
  box-shadow: 5px 5px 11px #a2b1c6, -5px -5px 11px #fff;
  border-radius: 8px;
  overflow: hidden;
}

.music-image {
  height: 260px;
  width: 90%;
  margin: auto;
}

.music-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.music-info {
  text-align: center;
  margin: 10px 0;
}

.music-info .title {
  font-size: 21px;
}

.music-info .artist {
  font-size: 18px;
}

.progress-bar {
  position: relative;
  height: 8px;
  width: 100%;
  background-color: #e1e6ec;
  box-shadow: 5px 5px 11px #a2b1c6, -5px -5px 11px #fff;
  border-radius: 50px;
  margin: 20px 0 30px;
  cursor: pointer;
}

.music-duration {
  position: relative;
  height: inherit;
  width: 50%;
  border-radius: inherit;
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.music-duration::before {
  content: "";
  height: 18px;
  width: 18px;
  background-color: #e1e6ec;
  box-shadow: 5px 5px 11px #a2b1c6;
  border-radius: inherit;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  opacity: 0;
}

.progress-bar:hover .music-duration::before {
  opacity: 1;
}

.time {
  font-size: 12px;
  margin-top: 3px;
}

.time,
.buttons,
.music-list .header,
.music-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  margin-top: 50px;
}

.buttons button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #e1e6ec;
  box-shadow: 2px 2px 5px #a2b1c6, -2px -2px 5px #fff;
}

.buttons button:active {
  box-shadow: inset 2px 2px 5px #a2b1c6, -2px -2px 5px #fff;
}

.music-list {
  position: absolute;
  bottom: -50%;
  opacity: 0;
  pointer-events: none;
  left: 0;
  width: inherit;
  background-color: #e1e6ec;
  padding: 15px 20px;
  border-radius: inherit;
  transition: all 300ms ease-in;
}

.music-list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}

.music-list .header .row {
  display: flex;
  align-items: center;
  font-size: 19px;
}

.header #close {
  font-size: 20px;
}

.music-list ul {
  margin: 10px 0;
  max-height: 230px;
  overflow-y: auto;
}

.music-list ul::-webkit-scrollbar {
  width: 0;
}

.music-list li {
  border-bottom: 1px solid #AAAAAA;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.music-list li:last-child {
  border-bottom: none;
}

.music-list li .row span {
  font-size: 17px;
}